/* * -----------------------------------------------------
   * ### Font Face Declarations for <YourFontName>

    Load custom font weights for <YourFontName> 
    to provide typographic variety in the application.
    Ensure font files are correctly located and accessible 
    in the specified path.
    
    Font Weight Descriptions:
    - 100: Thin
    - 200: ExtraLight
    - 300: Light
    - 400: Normal (Regular)
    - 500: Medium
    - 600: SemiBold
    - 700: Bold
    - 800: ExtraBold
    - 900: Black
    - 950: ExtraBlack
   * ------------------------------------------------------- */

/* ---------------------------
   Font Vazir
   ---------------------------*/

/* 100 - Thin */
@font-face {
  font-family: "Vazir";
  font-weight: 100;
  src: url("~/assets/fonts/Vazir/Vazir-Thin.ttf") format("truetype");
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: "Vazir";
  font-weight: 300;
  src: url("~/assets/fonts/Vazir/Vazir-Light.ttf") format("truetype");
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url("~/assets/fonts/Vazir/Vazir.ttf") format("truetype");
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "Vazir";
  font-weight: 500;
  src: url("~/assets/fonts/Vazir/Vazir-Medium.ttf") format("truetype");
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "Vazir";
  font-weight: 700;
  src: url("~/assets/fonts/Vazir/Vazir-Bold.ttf") format("truetype");
  font-display: swap;
}
