/* * ---------------------------
 * ### Global Transitions
 * ----------------------------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* * ---------------------------
  * ### Page Transition
  * ----------------------------- */
.page-enter-active,
.page-leave-active {
  transition: opacity 300ms ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* * ---------------------------
  * ### Layout Transition
  * ----------------------------- */
.layout-enter-active,
.layout-leave-active {
  transition: opacity 300ms ease;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
