/* * ---------------------------
* ### Global Transitions
* ----------------------------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* * ---------------------------
* ### Page Transition
* ----------------------------- */
.page-enter-active,
.page-leave-active {
  transition: opacity 500ms ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* * ---------------------------
* ### Layout Transition
* ----------------------------- */
.layouts-enter-active,
.layouts-leave-active {
  transition: opacity 500ms ease;
}

.layouts-enter-from,
.layouts-leave-to {
  opacity: 0;
}
